body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.span-color{
    color: chocolate;
}
.h1kitchen{
    color: green ;
}
.h1dash{
    color: orangered;
}
.h1cuigear{
    color: orangered;
}
.order-now{
    text-decoration: none;
background-color: orangered;
background-image:linear-gradient(to left, #ff6600 0%, #66ff99 103%);
font-weight: 700;
    border-radius: 20px;
    color: black;
    margin: 5%;
    padding: 10px 20px;
}
.flexible-container{
    display: flex;
    margin-bottom:30px;
}
.half-width{
    width:50%;
    padding-right: 5%;
    padding-left: 5%;
   

}
.half-width img{
    width: 70%;
    padding-left: 5%;
    

}
.section1{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.section2{
    background-image: url(Frame\ 59.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: left;
}
.recipebox{
    text-decoration: none;
background-color: orangered;
background-image:linear-gradient(to left, #ff6600 0%, #66ff99 103%);
font-weight: 700;
    border-radius: 20px;
    color: rgb(10, 10, 10);
    margin-top: 20px;
    padding: 10px 20px; 
}
.threebox{
    display: flex;
    width: 77%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.boximages{
    height: 250px;
    width: 337px;
}
.popularrecipies{
    text-align: center;
   padding-bottom: 50px;
}
.popularpara{
    text-align: center;
    margin-left: 20px;
 
}
.boxes{
    box-shadow: 5px 5px 5px 1px gray;
  margin-right:3%;
  margin-left: 3%;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 30px;  
}
.followers{
    display: flex;
    justify-content: center;
    box-shadow:5px 5px 5px 5px gray;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 30px;
}
.social{
 width:50%;
 padding-left: 10%; 
}
.footer{
    box-sizing: content-box;
}
footer{
    background-color: black;
    height: auto;
    width:100%;
    padding-top: 10px;
    color: white;   
}
.footertext{
    text-align: center;
    align-items:center;
    justify-content: center;
}
.footerbottom{
    text-align: center;
}